#footer-wrapper {
    clear: both;
}

#guide {
    width:  95%;
    margin: 40px auto 0;
    max-width: 1200px;
}

#guide div.chapter,
#guide div.part,
#guide div.section {
    margin-bottom: 2em;
}

#guide .article div.section,
#guide .book div.part,
#guide .book div.chapter,
#guide .chapter div.section {
    margin-top: 2em;
}

#guide hr {
    margin: 1em 0;
}

#guide strong,
#guide b {
    font-weight: bold;
}

#guide > .article,
#guide > .book,
#guide > .preface,
#guide > .breadcrumbs,
#guide > .navheader,
#guide > .navfooter,
#guide > .chapter,
#guide > .part,
#guide > .section,
#guide > .glossary,
#guide > .appendix {
    width: 67%;
}

#guide h1,
#guide h2,
#guide h3,
#guide h4,
#guide h5 {
    margin: 0.8em 0 0.5em;
    position: relative;
    line-height: 1em;
}

#guide .titlepage h1,
#guide .titlepage h2 {
    font-size: 34px;
    margin-top: 0;
}

/* Navheader */
#guide .navheader .prev,
#guide .navfooter .prev {
    float: left;
    width: 50%;
}

#guide .navheader .next,
#guide .navfooter .next {
    text-align: right;
    width: 50%;
    display: inline-block;
}

#guide .navheader {
    display: inline-block;
    border-bottom: 1px solid #ccc;
    padding-bottom: 5px;
    margin: 10px 0 20px;
}

#guide .navfooter {
    display: inline-block;
    border-top: 1px solid #ccc;
    padding-top: 5px;
    margin-bottom: 15px;
}

/* On this page */
#this_page {
    float: right;
    clear: right;
    width: 50%;
    margin: 0 -50% 1em 0;
    padding-left: 2.5em;
}

#this_page h2 {
    font-size: 1em;
    margin: 0 0 0.2em 0;
}

#this_page ul {
    margin: 0;
    font-size: 0.85em;
}

/* Right hand TOC */
#guide div.toc {
    float: right;
    clear: right;
    width: 47%;
    margin: 0 -50% 2em 0;
}

#book_title {
    color: #2b4590;
}

#book_title select {
    background-color: #fcfcfc;
    border: none;
    margin-left: 1px;
    color: #2b4590;
}

#guide ul.toc {
    border: 1px solid #ddd;
}

#guide .toc ul {
    margin: 0;
    padding: 0;
}

#guide .toc li {
    margin: 0;
    padding: 0;
    list-style: none;
}

#guide .toc span {
    display: block;
    padding: 0.1em 0;
    font-size: 0.85em;
}

#guide .toc > li > span {
    background-color: #efefef;
    border-bottom: 1px solid #ddd;
    padding: 0.3em 0 0.3em 20px;
    font-size: 1em;
}

#guide .toc ul ul {
    display: none;
}

#guide .toc .show > ul {
    display: block;
}

#guide .toc .collapsible > span:hover {
    background-color: #fafafa;
    cursor: pointer;
}

#guide .toc .collapsible > span {
    background-repeat: no-repeat;
    background-image: url(data:image/png,);
}

#guide .toc .show > span {
    background-image: url(data:image/png,);
}

#guide .toc > .show > span {
    background-color: white;
    border-bottom: 1px solid white;
}


#guide .toc > .collapsible > span {
    background-position: 0 8px;
}

#guide .toc > li > ul > li > span {
    padding-left: 40px;
    background-position: 20px 5px;
}

#guide .toc > li > ul > li > ul > li > span {
    padding-left: 60px;
    background-position: 40px 5px;
}

#guide .toc > li > ul > li > ul > li > ul > li >span {
    padding-left: 80px;
    background-position: 60px 5px;
}

#guide .toc > li > ul > li > ul > li > ul > li > ul > li >span {
    padding-left: 80px;
    background-image: none;
    background-position: 80px 5px;
}

/* Home page TOC */
#guide .article .toc,
#guide .book .toc {
    float: none;
    clear: none;
    width:  auto;
    margin: 0 0 2em 0;
    padding: 0;
}

/* Lists */
#guide ul {
    list-style: disc;
    padding-left: 2em;
}

#guide ol {
    list-style: decimal;
    padding-left: 2em;
}

#guide li ol {
    list-style: lower-alpha;
}

#guide li li ol {
    list-style: lower-roman;
}

#guide li li li ol {
    list-style: upper-alpha;
}

#guide ol[type=a] {
    list-style: lower-alpha;
}

#guide ol[type="1"] {
    list-style: decimal;
}

#guide li {
    padding: 0.15em 1em 0.15em 0;
}

#guide ol p,
#guide ul p,
#guide table p {
    margin-top: 0
}

#guide ol  ol,
#guide ol  ul,
#guide ul  ol,
#guide ul  ul {
    margin-bottom: 0;
}

#guide p.simpara+div.orderedlist,
#guide p.simpara+div.itemizedlist {
    margin-top: -0.9em;
}

#guide dt {
    color: #2b4590;
}

#guide dd {
    margin: 0 0 0.5em 2em;
}

/* Tables */
#guide table{
    margin-bottom:1em;
    border: none;
    width: 100%;
}

#guide table thead,#guide table tbody{
    text-align:left;
    vertical-align:top;
}

#guide table td:last-child{
    padding-right:0;
}

#guide table th{
    font-weight:700;
    padding:.5em 0.2em;
    border:none;
    border-bottom:2px solid #e5eae4;
}

#guide table td{
    vertical-align:top;
    padding:.75em 0.2em 0;
    border:none;
    border-bottom:1px solid #e5eae4;
}

#guide table tr:last-child td {
    border:none;
}

/* Code */
#guide code {
    background: #f8f8f8;
    padding: 0 3px;
    font-family: Consolas, Menlo, 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Lucida Console';
    font-size: 0.9em;
}
#guide pre {
    font-family: Consolas, Menlo, 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Lucida Console';
    color #888;
}

#guide pre.prettyprint {
    font-family: Consolas, Menlo, 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Lucida Console';
    font-size: 0.9em;
    margin: 0 0 15px 0;
    padding: 8px 0 8px 18px;
    border: none;
    line-height: 1.5em;
    overflow: auto;
    white-space: pre;
    background-color:#F0F0F0;
    border-top-right-radius:5px;
    border-bottom-right-radius:5px;
    width: auto;
    max-width: 1000px;
}

#guide .pre_wrapper {
    overflow-x: auto;
    position: relative;
    width: 100%;
    margin: 0 0 15px 0;
    background-color:#F0F0F0;
    border-left: 3px solid #31beb1;
}

#guide .pre_wrapper pre {
    margin: 0;
}

#guide a code {
    color: #31beb1;
}

/* Admonitions */
#guide .admon {
    background: #fbfbfb;
    padding: 10px;
    min-height: 80px;
    margin: 15px 0;
    border-radius: 5px;
    position: relative
}

#guide .admon .icon {
    width:  80px;
    position: absolute;
}

#guide .admon .admon_content {
    margin-left: 80px;
}

#guide .admon_content h4 {
    margin: 9px 0;
}

#guide .example {
    margin: 0;
}

#guide .example .title {
    margin: 0 0 0 10px;
}
#guide .example-contents {
    border: 1px solid #f0f0f0;
    border-width: 1px;
    border-radius: 5px;
    background: #fdfdfd;
    padding: 10px 10px 0;
}

#guide .sidebar {
    border: 1px solid #31beb1;
    border-radius: 10px;
    background: #fbfbfb;
    padding: 15px 20px 0;
    margin: 10px 15px 20px;
}

#guide .sidebar .title {
    margin: 0;
    border-bottom: 1px solid #ddd;
    margin-bottom: 10px;
}

#guide .experimental,
#guide .coming,
#guide .deprecated,
#guide .added {
    position: relative;
    font-size: 16px;
}

#guide .experimental .exp_title,
#guide .coming .version,
#guide .deprecated .version,
#guide .added .version {
    font-family:Monaco, 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Lucida Console', monospace!important;
    font-size: 0.8em;
    border-bottom: 1px dashed #31beb1;
}

#guide .deprecated .version {
    text-decoration: line-through;
}

#guide .experimental .detail,
#guide .coming .detail,
#guide .deprecated .detail,
#guide .added .detail {
    min-width: 250px;
    position: absolute;
    padding: 15px;
    border: 3px solid #e8e8e8;
    background: white;
    opacity: 0;
    color: white;
    left: -20000px;
    bottom: 20px;
    line-height: 1.2em;
}

#guide .experimental:hover ,
#guide .coming:hover ,
#guide .deprecated:hover ,
#guide .added:hover {
    color: black;
    transition: all 0.3s ease;
}

#guide .experimental:hover .detail,
#guide .coming:hover .detail,
#guide .deprecated:hover .detail,
#guide .added:hover .detail {
    z-index: 10000;
    left: -5em;
    opacity: 1;
    color: #555;
    transition: color 0.5s ease;
}

#guide .toc .experimental,
#guide .toc .coming,
#guide .toc .added,
#guide .toc .deprecated {
    display: none;
}

#guide h1:hover a[id],
#guide h2:hover a[id],
#guide h3:hover a[id],
#guide h4:hover a[id],
#guide h5:hover a[id],
#guide h6:hover a[id] {
    display: block;
    position: absolute;
    bottom: 0;
    margin: 0;
    padding: 0;
    left: -25px;
    width: 100%;
    height: 1em;
    background-repeat: no-repeat;
    background-position: 0% 50%;
    background-image: url(data:image/png,);
}

#guide a.edit_me {
    position: absolute;
    font-size: 14px;
    right: 0px;
    top: 0;
    z-index: 1000;
    padding-top: 26px;
    line-height: 1;
    opacity: 0.3;
    background-repeat: no-repeat;
    background-image: url(data:image/png,);

}

#guide a.edit_me:hover {
    opacity: 1;
}


/* JS API TOC */
/* prevent the list from rendering at the top of the content */
#js-api-method-index + .itemizedlist,
#js-api-method-index-0-90 + .itemizedlist {
    display: none;
}
.js-api-method-index h2 {
    color: #454746;
    font-family: "Gibson-Regular";
    font-size: 1.17em;
    margin: 1.5em 0 1em;
}
.js-api-method-index ul {
    padding: 0 0 0 0;
}

.js-api-method-index ul li {
    list-style: disc;
    color: #74b73f;
    padding: 0.05em 0;
}

.js-api-method-index a {
    text-transform: none;
}

.js-client-docs a[href="#"] {
    float: right;
}

/* Comments */
p.remark {
    color: red;
    border: 3px red solid;
    border-radius: 5px;
    padding: 10px;
    float: right;
    max-width: 50%;
    margin: -5px 0 10px 10px;
    clear: right;
}

/* Images */
#guide .mediaobject img {
    max-width: 100%;
}

/* Sense widget */
#guide a.sense_widget {
    display: block;
    margin: -22px 0 15px auto;
    text-align: right;
    border-radius: 0 0 3px 0;
    border-top: 1px solid #e8e8e8;
    background: #f8f8f8;
    background: linear-gradient(#f8f8f8,#f0f0f0);
    text-transform: uppercase;
    font-family: helvetica, arial;
    font-size: 13px;
    font-weight: bold;
    border-left: 3px solid #31beb1;
    padding: 5px 15px 5px 0;
}

#guide a.sense_widget:hover {
    background: linear-gradient(white,#f0f0f0);
    color: #2b4590;
}

/* RTP container */
#guide #rtpcontainer {
    display: none;
    position: static;
    float: right;
    width: 31%;
    margin: 0 -0.2% 20px 0;
    border-bottom: 1px solid #ccc
}

#guide ul.lists li {
    background: none
}

